/*
div.yvBBCodeForm {
	width: 80%;
	float: right;
} 
*/

div.yvBBCodeForm img {
  margin-bottom: 1px;
  margin-left: 1px;
  margin-right: 1px;
  margin-top: 1px;
  border: none;
}

img.yvBBCode {
  margin-bottom: 1px;
  margin-left: 1px;
  margin-right: 1px;
  margin-top: 1px;
  border: none;
}

div.yvBBCode_code {
	BORDER-RIGHT: #ddd 1px solid;
	PADDING-RIGHT: 5px;
	BORDER-TOP: #ccc 3px solid;
	PADDING-LEFT: 5px;
	FONT-SIZE: 100%;
	PADDING-BOTTOM: 5px;
	MARGIN: 3px;
	OVERFLOW: auto;
	BORDER-LEFT: #ddd 1px solid;
	COLOR: #333;
	PADDING-TOP: 5px;
	BORDER-BOTTOM: #ccc 3px solid;
	FONT-FAMILY: "courier new", courier, helvetica, serif;
	WHITE-SPACE: pre;
	BACKGROUND-COLOR: #fff;
	list-style-image: none;
	list-style-position: inside;
	outline: none;
	text-indent: 0px;
	}

div.yvBBCode_quote {
	PADDING-RIGHT: 5px;
	BORDER-TOP: #d3e3ed 3px solid;
	PADDING-LEFT: 5px;
	PADDING-BOTTOM: 5px;
	MARGIN: 3px 3px 3px 10px;
	COLOR: #666;
	PADDING-TOP: 5px;
	BORDER-BOTTOM: #d3e3ed 3px solid;
	BACKGROUND-COLOR: #f8fbfd;
	list-style-image: none;
	list-style-position: inside;
	outline: none;
	text-indent: 0px;
}